.link-recon {
    background: rgb(255, 0, 0);
  }

.link-switched {
    background: rgb(226, 136, 0);
  }

.link-sneakerbase {
    background: rgb(239, 7, 253);
  }

.link-secondskin {
    background: rgb(0, 0, 0);
  }